﻿article, aside, figure, figcaption, footer, header, hgroup, nav, section, summary {   
  display: block;   
}

body {
  font-size: medium;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin: 0px;
}

header.SiteHeader {
  padding: 5px;
  padding-bottom: 2px;
  background: #6B6E3F;
  width: 854px;
}

.ContentPanel {
  max-height: 1036px;
  min-height: 1036px;
  display: block;
}

aside.NavSidebar
{
  /*position: absolute;
  top: 179px;
  left: 0px;*/
  float: left;
  padding: 5px 15px 0px 15px;
  width: 203px;
  min-height: 1034px;
  max-height: 1034px;
  background-color:#eee;
  font-size: small;
}

aside.NavSidebar h2 {
  color: #6B6E3F;
  border-bottom: thin #6B6E3F solid;
  margin-bottom: 0px;
  margin-top: 20px;
}

aside.NavSidebar ul {
  padding-left: 15px;
}

aside.NavSidebar li {
  padding-bottom: 3px;
}

aside.NavSidebar img {
  margin-top: 10px;
  border: white solid 4px;
  position: relative;
}

.Content {
  float: left;
  /*margin-left: 240px;*/
  padding: 20px;
  max-width: 700px;
  min-width: 400px;
}

.Content .LeadIn {
  font-weight: bold;
  font-size: large;
  font-variant: small-caps;
}

.Content h3 {
  color: #24486C;
  margin-bottom: 2px;
  font-size: medium;
}

.Content p {
  margin-top: 0px;
}

header.ArticleHeader {
  padding: 10px;
  margin: 10px;
  text-align: center;
}

header.ArticleHeader h2 {
  margin: 0px;
  font-size: xx-large;
}

header.ArticleHeader h3 {
  margin: 0px;
  font-weight: bold;
}

header.ArticleHeader .Byline {
  font-style: italic;
  font-size: small;
  margin: 0px;
}

footer {
  float: none;
  width: 864px;
  max-height: 100px;

  text-align: center;
  font-size: x-small;	
}

footer .Disclaimer {
  font-style: italic;
}

footer p {
  margin: 3px;
}

.FloatFigure {
  float: left;
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 20px;
  margin-bottom: 0px;
} 

.FloatFigure figcaption {
  max-width: 200px;
  font-size: small;
  font-style: italic;
  margin-bottom: 5px;
}

.PullQuote {
  float: right;
  max-width: 300px;
  border-top: thin black solid;
  border-bottom: thick black solid;
  font-size: 30px;
  line-height: 130%;
  font-style: italic;
  padding-top: 5px;	
  padding-bottom: 5px;	
  margin-left: 15px;
  margin-bottom: 10px;
}

.PullQuote img {
  vertical-align: bottom;
}