section {
    border: 1px solid lightgray;
    border-radius: 20px;
    background-color: #eaeaea;
    max-width: 400px;
    padding: 15px;
}

input, textarea {
    border-radius: 5px;
}

form {
    display: block;
}

textarea, button {
    margin-left: auto;
    margin-right: auto;
}