<!doctype html>
<html>
<head>
    <title>Meadowlark Travel</title>
</head>
<body>
	<header><img src="/img/logo.png" alt="Meadowlark Travel Logo"></header>
    {{!
    Handlebars searches for \{\{\{body\}\}\} and will replace it with a compiled
    view when a user requests a page.
    }}
    {{{body}}}
</body>
</html>
