body {
    background-color: #e5e5ee;
}

main {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 100%;
}

ul {
    list-style: none;
    margin-left: auto;
    margin-right: auto;
}

li div {
    border: 1px solid black;
    background-color: ghostwhite;
    width: 30%;
    text-align: center;
}

