table {
  background-color: azure;
}

div {
  width: 400px;
  height: 300px;
  border: 1px solid black;
  background-color: lightgray;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
}

img {
  width: 150px;
  height: auto;
  border: 1px solid black;
  background-color: lightgray;
}

td {
  padding: 15px;
}

p {
  font-size: large;
}
